@using Microsoft.EntityFrameworkCore;
@using System;
@using Microsoft.AspNetCore.Http
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.Data;
@using System.Drawing;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using System.Text.Json;
@{
    var myBookings = Model;
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Saját foglalásaim</h2>
        </div>
    </div>
</section>

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
            text-align: center;
        }
</style>


<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">

                <table id="customers" data-show-toggle="false" data-expand-first="true">
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Honnan</th>
                        <th>Hova</th>
                        <th>Távolság (Km)</th>
                        <th>Időpont</th>
                        <th>Helyek</th>
                        <th>Ár</th>
                        <th></th>
                    </tr>
                    @foreach (Booking booking in myBookings)
                    {
                        Route item = booking.Route;
                        <tr>
                            <td style="display:none;">@item.Id</td>
                            <td>@item.FromCity</td>
                            <td>@item.ToCity</td>
                            <td>@item.Km</td>
                            <td>@item.When</td>
                            <td>@item.Seats / @item.Bookings.Count</td>
                            <td>@(@JsonData.CostKm * @item.Km)</td>
                            <td>@Html.ActionLink("Törlés", "DeleteBooking", "User", new { @bookingIdStr = booking.Id.ToString() })</td>
                        </tr>
                    }


                </table>

            </div>
        </div>
    </div>
</section>
